*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(65, 167, 193);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    background-color: blanchedalmond;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(204, 143, 22);
}

#reset-btn{
    padding: 10px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
}
#new-btn{
    padding: 10px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
}
#msg{
    color: aliceblue;
    font-size: 8vmin;
} 

.msg-container{
    height: 15vmin;
}

.hide{
    display: none;
}